<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths"><head></head><body>N

<!-- Header -->
   {{> header}}

<body>


<!-- -------NAVBAR-------------- -->
   {{> navbar}}






	<div id="fh5co-author">
		<div class="container">
			<div class="row">
			<h2>SOBRE NOSOTROS</h2>
				<div class="col-md-8 col-md-offset-2">
					<div class="testimony animate-box fadeInUp animated-fast">
						<blockquote>
							<p>
								Santa Elena es una empresa familiar iniciada por nuestros antepasados y que continúa hasta el día de hoy, con los jóvenes de la familia al mando que cuentan con la experiencia y los conocimientos de nuestros fundadores pasados de generación en generación.<br><br>
Nuestra historia se remonta al barrio de Palermo, más concretamente a Lafinur 3245, donde todo comenzó hace más de 115 años. <br><br>
Esta larga trayectoria en el negocio se refleja en los productos frescos y de calidad que ofrecemos día a día. Todo ello es posible gracias al conocimiento de nuestro equipo de expertos y pasteleros con mas de 30 años de experiencia en el rubro, los cuales se encuentran en constante estudio para seguir incorporando nuevos conocimientos y técnicas para perfeccionar los clásicos de siempre.<br><br>
Nuestro crecimiento se debe a la familiaridad hacia nuestra clientela, la cual nos ayuda a seguir expandiéndonos en la ciudad de Buenos Aires, sumando 4 locales y una fábrica equipada con la última tecnología en el mercado de la pastelería para seguir deleitando a nuestros compradores.<br><br>
Todo esto es posible gracias a la confianza que nuestros clientes depositan en nosotros.<br><br>
Todos son bienvenidos en nuestras panaderías.  Creemos en el poder de la comunidad y en ayudar a los que nos rodean.  Insistimos en los mejores ingredientes, apoyando a los pequeños productores de nuestro país.<br><br>
Si bien siempre estamos innovando, nuestra panadería se basa en técnicas tradicionales que nuestros fundadores utilizaron hace décadas.  <br><br>
Nada nos da tanto placer como un pan recién horneado y elaborado con amor.<br><br>
Somos Santa Elena, una panadería con corazón.
							</p>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- -------FOOTER-------------- -->
{{> footer}}

</body></html>