<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths"><head></head><body>N

<!-- Header -->
   {{> header}}

<body>


<!-- -------NAVBAR-------------- -->
   {{> navbar}}






	<div id="fh5co-author">
		<div class="container">
			<div class="row">
			<h2>SOBRE NOSOTRAS</h2>
				<div class="col-md-8 col-md-offset-2">
					<div class="testimony animate-box fadeInUp animated-fast">
						<blockquote>
							<p>
								<br><br>
								Power Rochi es un miniemprendimiento iniciado en la pandemia 2020 a raíz del encierro, nació como un hobby para ropa de fitness para uso personal, pero al ver la aprobación entre las mujeres del gimnasio, y su incentivo a comercializar las prendas, surgió la marca Power Rochi. Así ... sin buscarlo.<br><br>
Ahora estamos analizando incorporar nuevos diseños con lycras transparentes.<br><br>
Nuestro crecimiento se debe a la familiaridad hacia nuestra clientela, la cual nos ayuda a seguir expandiéndonos en la ciudad de Buenos Aires.<br><br>
Todo esto es posible gracias a la confianza que nuestros clientes depositan en nosotras.<br><br>
Creemos en el poder de la comunidad y en ayudar a los que nos rodean. <br><br>
Si bien siempre estamos innovando, nuestros modelos se basan en ropa informal y cómoda para realizar ejercicios, nunca escatimando en la sensualidad de la mujer. <br><br>
Gracias por elegirnos.<br><br>
Somos Power Rochi, una empresa textil con amor y corazón.
							</p>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- -------FOOTER-------------- -->
{{> footer}}

</body></html>